<html>
<head>
    <title>AptHunt Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
    <body>
      <div class="container">
         <h2>AptHunt Forgot Password</h2>

{% from "security/_macros.html" import render_field_with_errors, render_field %}

        <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
            {{ forgot_password_form.hidden_tag() }}
            {{ render_field_with_errors(forgot_password_form.email, class_="form-control") }}
            {{ render_field(forgot_password_form.submit,  class_="waves-effect waves-light btn btn-default") }}
        </form>
        <p><a href="{{ url_for('security.login') }}">Login</a></p>
       </div>
    </body>
</html>
